.arraycontainer {
  margin-top: 10px;
  text-align: center;
}

.bar {
  background-color: cadetblue;
  display: inline-block;
  width: 3px;
  margin-right: 2px;
}

.navbar-collapse {
  justify-content: center;
}

.links {
  margin: 10px;
}

.select-buttons {
  text-align: center;
}
